<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-slate-200 to-gray-100">
      <img src="/logo.png" alt="Logo" class="w-24 h-24 mb-4 animate-form" />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="bg-white px-6 pb-6 pt-4 rounded-lg shadow-lg w-full max-w-sm animate-form">
            <h2 class="text-xl font-bold text-center text-gray-700 mb-4">
                  Login to Your Account
            </h2>
            <div class="mb-5">
                  <label class="block text-gray-700 text-xs font-bold mb-1" for="username">Username</label>
                  <div class="relative">
                        <fa-icon [icon]="userIcon"
                              class="absolute top-1/2 transform -translate-y-1/2 left-2 text-gray-400"></fa-icon>
                        <input type="text" id="username" formControlName="username"
                              class="w-full pl-8 pr-2 py-1.5 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-maya-blue-dark"
                              placeholder="Enter your username" />
                  </div>
                  <div class="text-red-500 text-xs h-2">
                        @if(isInvalidInput('username')){
                        <span class="block" *ngIf="loginForm.get('username')?.hasError('required')">
                              Username is required.
                        </span>
                        }

                  </div>
            </div>
            <div class="mb-5">
                  <label class="block text-gray-700 text-xs font-bold mb-1" for="password">Password</label>
                  <div class="relative">
                        <fa-icon [icon]="pswIcon"
                              class="absolute top-1/2 transform -translate-y-1/2 left-2 text-gray-400"></fa-icon>
                        <input type="password" id="password" formControlName="password"
                              class="w-full pl-8 pr-2 py-1.5 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200 focus:border-maya-blue-dark"
                              placeholder="Enter your password" />
                  </div>
                  <div class="text-red-500 text-xs h-2">
                        @if(isInvalidInput('password')){
                        <span class="block" *ngIf="loginForm.get('password')?.hasError('required')">
                              Password is required.
                        </span>
                        }

                  </div>
            </div>
            <button type="submit"
                  class="w-full bg-celeste-dark text-night font-bold py-3 px-3 rounded-lg hover:bg-celeste-light hover:scale-105 transition-transform focus:outline-none focus:ring-2 focus:ring-blue-200"
                  [disabled]="loginForm.invalid">
                  Login
            </button>
            <div class="mt-4 text-center">
                  <span class="text-gray-600 text-xs">Don't have an account?
                        <a routerLink="/signup" class="text-mayborder-maya-blue-dark hover:underline">Sign up</a></span>
            </div>
      </form>
</div>