<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-slate-200 to-gray-100">
      <div class="container mx-auto p-6 bg-alice-blue-light md:w-3/4 shadow-md md:mt-5 animate-form rounded-lg">
            <div class="flex flex-col md:flex-row justify-between gap-8">
                  <!-- Left Section: Delivery Options -->
                  <div class="md:w-2/3">
                        <button (click)="navigateHome()" class="mb-4 text-maya-blue hover:underline">Go Back</button>
                        <h1 class="text-2xl font-semibold mb-6 text-night">Checkout</h1>

                        <!-- Customer Information -->
                        <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()">
                              <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <!-- Address Line 1 -->
                                    <div class="form-group">
                                          <label for="addressLine1" class="block text-cool-gray-dark mb-1">Address Line
                                                1</label>
                                          <input id="addressLine1" type="text" formControlName="addressLine1"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your address" />
                                          <div
                                                *ngIf="checkoutForm.get('deliveryAddress.addressLine1')?.invalid && checkoutForm.get('deliveryAddress.addressLine1')?.touched">
                                                <small class="text-red-500">Address Line 1 is required.</small>
                                          </div>
                                    </div>

                                    <!-- Address Line 2 -->
                                    <div class="form-group">
                                          <label for="addressLine2" class="block text-cool-gray-dark mb-1">Address Line
                                                2</label>
                                          <input id="addressLine2" type="text" formControlName="addressLine2"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your address (optional)" />
                                    </div>

                                    <!-- City -->
                                    <div class="form-group">
                                          <label for="city" class="block text-cool-gray-dark mb-1">City</label>
                                          <input id="city" type="text" formControlName="city"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your city" />
                                          <div
                                                *ngIf="checkoutForm.get('deliveryAddress.city')?.invalid && checkoutForm.get('deliveryAddress.city')?.touched">
                                                <small class="text-red-500">City is required.</small>
                                          </div>
                                    </div>

                                    <!-- State -->
                                    <div class="form-group">
                                          <label for="state" class="block text-cool-gray-dark mb-1">State</label>
                                          <input id="state" type="text" formControlName="state"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your state" />
                                          <div
                                                *ngIf="checkoutForm.get('deliveryAddress.state')?.invalid && checkoutForm.get('deliveryAddress.state')?.touched">
                                                <small class="text-red-500">State is required.</small>
                                          </div>
                                    </div>

                                    <!-- Zip Code -->
                                    <div class="form-group">
                                          <label for="zipCode" class="block text-cool-gray-dark mb-1">Zip Code</label>
                                          <input id="zipCode" type="text" formControlName="zipCode"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your zip code" />
                                          <div
                                                *ngIf="checkoutForm.get('deliveryAddress.zipCode')?.invalid && checkoutForm.get('deliveryAddress.zipCode')?.touched">
                                                <small class="text-red-500">Zip Code is required.</small>
                                          </div>
                                    </div>

                                    <!-- Country -->
                                    <div class="form-group">
                                          <label for="country" class="block text-cool-gray-dark mb-1">Country</label>
                                          <input id="country" type="text" formControlName="country"
                                                class="w-full px-4 py-2 border border-cool-gray-light rounded-lg text-night focus:ring-2 focus:ring-celeste-light outline-none"
                                                placeholder="Enter your country" />
                                          <div
                                                *ngIf="checkoutForm.get('deliveryAddress.country')?.invalid && checkoutForm.get('deliveryAddress.country')?.touched">
                                                <small class="text-red-500">Country is required.</small>
                                          </div>
                                    </div>
                              </div>

                              <button type="submit"
                                    class="w-full py-3 mt-4 bg-night text-white rounded-lg hover:bg-night-dark focus:outline-none focus:ring-2 focus:ring-celeste-light">Submit
                                    Order</button>
                        </form>

                  </div>

                  <!-- Right Section: Cart Summary -->
                  <div
                        class="flex flex-col justify-between md:w-1/3 border-t md:border-t-0 md:border-l border-cool-gray-light pl-0 md:pl-8 pt-8 md:pt-0">
                        <div>
                              <h2 class="text-lg font-semibold mb-4 text-night">In Your Cart</h2>
                              <div class="mb-6">
                                    <div class="flex justify-between mb-3">
                                          <span class="text-lg">Items</span>
                                          <span class="font-medium">{{cartStore.itemsCount()}}</span>
                                    </div>

                                    <div>
                                          @for (item of cartStore.items(); track item.code) {
                                          <div class="flex justify-between mb-2 text-sm text-cool-gray">
                                                <span>{{item.name}} ({{item.quantity}}) </span>
                                                <span class="text-night-light">{{item.price * item.quantity|
                                                      currency}}</span>
                                          </div>
                                          }
                                    </div>
                              </div>

                        </div>
                        <div class="border-t border-gray-300 pt-4">

                              <p class="flex justify-between text-xl font-semibold">
                                    <span>Total Cost</span>
                                    <span class="text-night-dark">{{cartStore.totalPrice() | currency}}</span>
                              </p>
                        </div>
                  </div>
            </div>

      </div>
</div>