:host {
  display: block;
  height: 100%;
  width: 100%;
  min-height: 1vh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  background-color: #f3f4f6;
}
