<div class="container mx-auto p-6 bg-alice-blue-dark">
      <div class="flex justify-between">
            <!-- Left Section: Delivery Options -->
            <div class="w-2/3 pr-8">
                  <button (click)="navigateHome()" class="mb-4 text-maya-blue hover:underline">Go Back</button>
                  <h1 class="text-2xl font-semibold mb-6 text-night">Checkout</h1>



                  <!-- Customer Information -->
                  <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                              <div>
                                    <label for="name" class="block text-sm font-medium text-night">First Name*</label>
                                    <input id="name" formControlName="name" type="text"
                                          class="mt-1 p-2 border rounded-lg w-full border-cool-gray text-night" />
                              </div>
                              <div>
                                    <label for="lastName" class="block text-sm font-medium text-night">Last
                                          Name*</label>
                                    <input id="lastName" formControlName="lastName" type="text"
                                          class="mt-1 p-2 border rounded-lg w-full border-cool-gray text-night" />
                              </div>
                              <div class="md:col-span-2">
                                    <label for="address" class="block text-sm font-medium text-night">Start typing
                                          address</label>
                                    <input id="address" formControlName="address" type="text"
                                          class="mt-1 p-2 border rounded-lg w-full border-cool-gray text-night" />
                              </div>
                              <div class="md:col-span-2">
                                    <a href="#" class="text-maya-blue hover:underline">Enter address manually</a>
                              </div>
                              <div>
                                    <label for="email" class="block text-sm font-medium text-night">Email*</label>
                                    <input id="email" formControlName="email" type="email"
                                          class="mt-1 p-2 border rounded-lg w-full border-cool-gray text-night" />
                              </div>
                              <div>
                                    <label for="phone" class="block text-sm font-medium text-night">Phone
                                          Number*</label>
                                    <input id="phone" formControlName="phone" type="tel"
                                          class="mt-1 p-2 border rounded-lg w-full border-cool-gray text-night" />
                              </div>
                        </div>
                  </form>
            </div>

            <!-- Right Section: Cart Summary -->
            <div class="w-1/3 border-l pl-8 border-cool-gray">
                  <h2 class="text-lg font-semibold mb-4 text-night">In Your Bag</h2>
                  <div class="flex justify-between mb-4">
                        <div>
                              <p class="text-cool-gray">Subtotal</p>
                              <p class="text-cool-gray">Estimated Shipping</p>
                              <p class="text-cool-gray">Estimated Tax</p>
                        </div>
                        <div>
                              <p class="text-night">$160.00</p>
                              <p class="text-night">$8.00</p>
                              <p class="text-night">$0.00</p>
                        </div>
                  </div>
                  <div class="flex justify-between mb-4">
                        <div>
                              <p class="font-semibold text-night">Total</p>
                        </div>
                        <div>
                              <p class="font-semibold text-night">$168.00</p>
                        </div>
                  </div>
                  <div class="mb-4">
                        <p class="text-sm text-cool-gray">Arrives Fri, Jul 22 - Tue, Jul 26</p>
                        <p class="text-sm text-night">Nike Air Max Flyknit Racer Women's Shoes</p>
                        <p class="text-sm text-cool-gray">Style #: DM9073-300</p>
                        <p class="text-sm text-cool-gray">Size: W / 9 / M 7.5</p>
                        <p class="text-sm text-cool-gray">Color: Ghost Green/Pink Blast/Photo Blue/Black</p>
                        <p class="text-sm text-cool-gray">Qty: 1 $160.00</p>
                  </div>
                  <button class="w-full py-3 mt-4 bg-night text-white rounded-lg hover:bg-night-dark">Place
                        Order</button>
            </div>
      </div>
</div>